/* blinds-content css */

.blinds-content {
	padding: 37px 15px 5px 28px;
}


.blinds-content figure {
}

.blinds-content figcaption {
	margin-top: 15px;
}

.blinds-content .row {
	margin-bottom: 15px;
}

