

.formwrapper {
	padding: 20px 12px;
	height: 100%;
}

.formwrapper h4 {
	display: inline-block;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	margin: 5px 0 15px;
}
.formwrapper h4 em {
	display: inherit;
}
.formwrapper strong {
	color: #e2192c;
	margin-bottom: 20px;
	display: block;
	text-align: center;
	font-size: 18px;
}

.formwrapper form {
	margin: 0;
	padding: 0;
}

.formwrapper input {
	display: block;
	padding: 3%;
	border: none;
	width: 94%;
	font-size: 11px;
	color: #555;
}

.formwrapper select {
	height: 27px;
	background-color: #fff;
	border: none;
	display: inherit;
	letter-spacing: -1px;
	width: 100%;
	color: #333;
}
.formwrapper input, .formwrapper select {
	margin-bottom: 12px;
}

.formwrapper .smallTxt {
	font-size: 11px;
	padding: 3.7% 3%;
}

.formwrapper input[type="submit"] {
	width: initial;
	background-color: #e2192c;
	color: #fff;
	padding: 7px 40px;
	border: 0;
	margin: 25px auto 0;
	cursor: pointer;
}

.formwrapper .error {
/*	color: #e2192c;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 0 0 0 5px;
	line-height: 0;*/
	border: 1px solid #e2192c;
}



/* style place holder text */
::-webkit-input-placeholder {
   color: #c2c2c2;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c2c2c2;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c2c2c2;  
}

.formwrapper :-ms-input-placeholder {  
   color: #c2c2c2;  
}